※ 'prob9_1.csv'은 이름, 선택, 그리고 점수의 column으로 구성되어 있다.<br>
∙ csv 파일을 read_csv를 활용해 score라는 이름으로 읽어와라.(index를 이름으로 구성)<br>
∙ 새로운 column '표준점수'를 만들고 값 계산을 하여라. 표준점수는 '선택' column을 group으로 한 뒤 계산된다.<br>
  이 때, 표준점수는 20*((선택과목 - 선택과목 평균) / 선택과목 표준편차)+100로 산출된다.(standard_score라는 함수를 정의해 활용)<br>
∙ 표준점수에 따라 점수가 높은 순으로 순위를 매겨 'rank' column을 만들고 rank가 4인 학생의 이름을 보여주시오.(rank함수 활용)

In [1]:
import pandas as pd

In [8]:
score = pd.read_csv('prob9_1.csv',index_col='이름', encoding='cp949')

In [20]:
def standard_score(series):
    return 20*((series - series.mean()) / series.std())+100
score['표준점수']=score.groupby('선택')['점수'].apply(standard_score)
score['rank']=score['표준점수'].rank(ascending=False)
print(score[score['rank']==4].index)
score

Index(['예성'], dtype='object', name='이름')

    선택  점수        표준점수  rank
이름
근호  농구  54  112.335203   3.0
성웅  축구  88  121.096207   1.0
예성  축구  75   97.589005   4.0
은하  축구  66   81.314788   6.0
뚜치  농구  58  120.916214   2.0
둘리  농구  43   88.737423   5.0
펭수  농구  38   78.011159   7.0

※ 'prob9_2.csv'는 날짜, 방법1, 그리고 방법2의 column으로 구성되어 있다.<br>
∙ csv 파일을 read_csv를 활용해 hello라는 이름으로 읽어와라.<br>
∙ melt함수를 활용해 방법 1과 방법 2를 따른 행에 표현하여라.(이 때의 방법1,2에 대한 column 이름은 'method')<br>
∙ melt된 dataframe에서 index를 기존 파일의 '날짜' column으로 바꾸고 '날짜' column을 삭제하여라.<br>
∙ aggregation_value라는 함수를 활용해 방법1인 경우에 value값을 3배 해주어 '조정값'이라는 column을 만들어라.<br>
∙ map함수를 활용해 방법1인 경우에는 mountain, 방법2인 경우에는 river의 값을 가지는 'place' column을 만들어라.<br>
∙ 기존 'method' column을 삭제하고 place를 기준으로 value 평균을 구하여라.<br>

In [61]:
hello = pd.read_csv('prob9_2.csv', encoding='cp949')
hello

           날짜  방법1  방법2
0  2020-02-05    8   25
1  2020-02-06   10   33
2  2020-02-07   13   38
3  2020-02-08   11   30

In [62]:
hello = hello.melt(id_vars='날짜',var_name='method')
hello.index= hello['날짜']
hello = hello.drop('날짜',axis=1)
hello

           method  value
날짜
2020-02-05    방법1      8
2020-02-06    방법1     10
2020-02-07    방법1     13
2020-02-08    방법1     11
2020-02-05    방법2     25
2020-02-06    방법2     33
2020-02-07    방법2     38
2020-02-08    방법2     30

In [63]:
def aggregation_value(row):
    if row['method']=='방법1':
        return row['value']*3
    else:
        return row['value']
hello['조정값']=hello.apply(aggregation_value,axis=1)
mountain_vs_river={'방법1':'mountain','방법2':'river'}
hello['place']=hello['method'].map(mountain_vs_river)
hello=hello.drop('method',axis=1)
hello

            value  조정값     place
날짜
2020-02-05      8   24  mountain
2020-02-06     10   30  mountain
2020-02-07     13   39  mountain
2020-02-08     11   33  mountain
2020-02-05     25   25     river
2020-02-06     33   33     river
2020-02-07     38   38     river
2020-02-08     30   30     river

In [64]:
print(hello1.groupby('place')['조정값'].mean())

place
mountain    31.5
river       31.5
Name: 조정값, dtype: float64

※ 연속된 문제를 풀어보세요

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('application_train.csv') #application_train.csv 파일을 불러오세요.

In [ ]:
data = data.iloc[:500, :9]
data = data.drop(['SK_ID_CURR', 'TARGET'], axis =1)
data.columns = ['type', 'gender', 'own car', 'own realty', 'children', 'income', 'credit'] #그대로 실행! 이후 data의 모습의 확인합니다.

- Q1) 'type'과 'gender'를 multiindex로 하는 데이터프레임을 만들고 출력하라.

In [ ]:
data = data.set_index(['type', 'gender']).sort_index()

- Q2) pivot_table과 groupby 함수를 사용해보자!
    - a. 성별에 따른 자가용 소유 여부를 확인.
    - b. 부동산 소유 여부를 그룹으로 하여 각 그룹의 자녀 수를 계산.
    - c. Cash loans 타입 내에서, 성별과 부동산 소유 여부에 따른 수입 평균을 계산
    - d. Revolving lonas 타입 내에서, 성별과 부동산 소유 여부에 따른 신용 거래 평균을 계산

In [ ]:
data.pivot_table(index = 'gender', columns = 'own car', values = 'income', aggfunc = 'count')

In [ ]:
data.groupby('own realty',)['children'].sum()

In [ ]:
data.loc['Cash loans'].pivot_table(index='gender', columns = 'own realty', values = 'income', aggfunc = 'mean')

In [ ]:
data.loc['Revolving loans'].pivot_table(index='gender', columns = 'own realty', values = 'credit', aggfunc = 'mean')

- Q3) 부동산 소유 여부에 따른 자가용 소유 현황을 나타내는 데이터 프레임을 realty_car_count에 할당하고 출력하시오.

In [ ]:
realty_car_count = pd.DataFrame(data.groupby('own realty')['own car'].value_counts())

- Q4) data에 'rank'라는 column을 추가
    - 수입 대비(income) 대비 신용 거래(credit) 비율이 상위 25프로 내인 사람은 rank가 'danger', 그렇지 않은 경우는 'safe'.

In [ ]:
danger_rate = data.credit/data.income

In [ ]:
above_75 = (danger_rate > np.quantile(danger_rate, 0.75)).map({True:'danger', False:'safe'})
data['rank'] = above_75

In [ ]:
data

- Q5) 부동산과 자가용 소유 여부를 index로 하여(groupby) rank의 value_counts를 계산하고 아래와 같은 데이터프레임을 만드시오.
- Q6) 동일한 index로, 그룹 내 rank 의 비율을 구하고 아래와 같은 데이터프레임을 만드시오. (lambda 를 사용해봅시다!)

In [ ]:
pd.DataFrame(data.groupby(['own car', 'own realty'])['rank'].value_counts())

In [ ]:
    pd.DataFrame(data.groupby(['own car', 'own realty'])['rank'].apply(lambda p: (p.value_counts()/p.count()).round(2)))

- Q7) 다음과 같은 pivot table을 만드시오. (values = 'income', aggfunc = 'mean')

In [ ]:
data.pivot_table(index = ['own car', 'own realty'], columns = 'rank', values = 'income', aggfunc = 'mean')